Source: optiworker
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               golang-go,
               protobuf-compiler,
               git,
               mercurial,
               curl
Standards-Version: 3.8.0
Section: libs
Homepage: http://biorob.epfl.ch

Package: optiworker
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: liboptimization worker application
 Worker application for liboptimization
