#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export GOPATH=$(shell pwd)/debian/go

PATH := $(GOPATH)/bin:${PATH}

export PATH

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --libexecdir=\$${prefix}/libexec
